
@import './../../components/variable.css';
.root {
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding-bottom: 24px;
  max-width: 1080px;
  background-color: black;
}

.pageContainer {
  padding-top: 48px;
}

.containerTitle {
    color: #484848;
    line-height: 24px;
    margin: 0 0 80px;
    padding: 0px 15px;
    font-weight: bold;
    font-size:34px !important;
    text-align:center;
}

@media screen and (max-width: 1170px) {
  .containerTitle {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .marginLeft {
    margin: 0 0 24px 34px;
  }
}